body {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

a:visited {
  color: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  grid-template-areas: "logo none navbar signup";
  align-items: center;
  margin: auto;
}

.logo img {
  grid-area: logo;
  padding: 0 2rem;
  height: 3rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: navbar;
}

.hosting {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  color: #0065fc;
  text-decoration: none;
  border-top: 3px solid #0065fc;
}

.activity {
  padding: 2rem;
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: none;
}

.activity:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: signup;
  padding: 0 2rem;
  font-weight: 600;
  color: #0065fc;
  text-decoration: none;
}

.headertitle {
  margin-bottom: 0.5rem;
  padding: 0 2rem;
  font-size: 2rem;
}

.headersubtitle {
  margin-top: 0;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 300;
}

.searchbox {
  display: flex;
  padding: 0 2rem;
}

.searchicon {
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
}

.searchtext {
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 14rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Raleway", "sans serif";
  margin: 0;
}

.searchbutton {
  background-color: #0065fc;
  color: white;
  font-family: "raleway", "sans serif";
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0 1rem 1rem 0;
  border-color: transparent;
  cursor: pointer;
  margin: 0;
}

.filterscategorie {
  display: flex;
  flex-wrap: wrap;
}

.filterstitle {
  margin: 2rem;
  margin-bottom: 1rem;
}

.filtereco {
  display: flex;
  align-items: center;
  margin: 2rem;
  border: 2px solid #f2f2f2;
  border-radius: 2rem;
  cursor: pointer;
}

.filtereco:hover {
  background-color: #deebff;
}

.filterecoicon {
  padding: 1rem;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 2rem;
}

.filterecotitle {
  font-family: "raleway", "sans serif";
  font-weight: 700;
  padding: 1rem;
}

.filterfamily {
  display: flex;
  align-items: center;
  margin: 2rem;
  border: 2px solid #f2f2f2;
  border-radius: 2rem;
  cursor: pointer;
}

.filterfamilyicon {
  padding: 1rem;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 2rem;
}

.filterfamilytitle {
  font-family: "raleway", "sans serif";
  font-weight: 700;
  padding: 1rem;
}

.filterlovely {
  display: flex;
  align-items: center;
  margin: 2rem;
  border: 2px solid #f2f2f2;
  border-radius: 2rem;
  cursor: pointer;
}

.filterlovelyicon {
  padding: 1rem;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 2rem;
}

.filterlovelytitle {
  font-family: "raleway", "sans serif";
  font-weight: 700;
  padding: 1rem;
}

.filterpet {
  display: flex;
  align-items: center;
  margin: 2rem;
  border: 2px solid #f2f2f2;
  border-radius: 2rem;
  cursor: pointer;
}

.filterpeticon {
  padding: 1rem;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 2rem;
}

.filterpettitle {
  font-family: "raleway", "sans serif";
  font-weight: 700;
  padding: 1rem;
}

.searchresult {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.searchresulticon {
  color: #0065fc;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #f2f2f2;
  border-radius: 2rem;
}

.searchresulttext {
  margin: 0.5rem;
}
